* {
  box-sizing: border-box;
  padding: 0;
  margin:0;
}

* a {
  color: #616161;
  text-decoration: none;
  font-weight: bold;
}

* a:hover {
  color: #fff;
}

/* HIDDEN */
.hidden {
  display:none;
}

/* BACKGROUNDS */

.bckgn_black {
  background-color: #000;
}

/* FONTS */
body {
  font-family: 'Montserrat', sans-serif;
  color: #616161;
}

.txt_center {
  text-align: center;
}

/* small title */
.mini_title {
  font-weight:  700;
  text-transform: uppercase;
  color: #616161;
}

/* colors */

.fnt_color_white {
  color: #fff;
}

/* IMG */

.aside_icon {
  max-width: 12%;
  vertical-align: middle;
}

/* WRAPPERS */
.all_wrapper{
  position: relative;
  height: 100vh;
  background-color: #000;
}

/* SECTIONS HEIGHTS AND FEATURES */
main {
  position: absolute;
  top: 0;
  right: 0;
  height: calc(100% - 80px);
  width: calc(100% - 250px);
  background-color: yellow;
  overflow-y: auto;
}

footer {
  height: 80px;
  background-color: purple;
}

.aside_bar {
  display: flex;
  flex-direction: column;
  height: calc(100% - 80px);
  width: 250px;
}

/* PADDINGS */
.pdn_15 {
  padding:15px;
}

.pdn_25 {
  padding: 25px;
}

.pdn_bottom_30 {
  padding-bottom: 30px;
}

.pdn_top_10 {
  padding-top: 10px;
}

.pdn_top_25 {
  padding-top: 25px;
}

.pdn_top_85 {
  padding-top: 85px;
}

.pdn_right_10 {
  padding-right: 10px;
}

.pdn_left_10 {
  padding-left: 10px;
}

/* MARGINS */
.mrg_5_0 {
  margin: 5px 0;
}

/* BORDERS */
.border_radius_100 {
  border-radius: 100px;
}

/* UTILITIES */

.dsp_inlineblock {
  display: inline-block;
}

/* LISTS */
.lst_style_none {
  list-style: none;
}

/* BOX */

.song_box {
  display: inline-block;
  height: 200px;
  width: 200px;
  background-color: red;
}

/* ASIDE */
/* aside header */
.aside_header_logo img {
  max-width: 75%;
}

.aside_nav_list li {
  padding: 8px 0;
}


.aside_nav_list a:hover {
  color: #fff;
}

.aside_nav_list li:first-child {
  border-left: 2px solid #7FFF00;
}

/* aside main PLAYLIST */
.aside_bar_main {
  height: 100%;
  overflow: hidden;
}

.aside_main_title {
  height: 50px;
}

.aside_main_playlist {
  overflow-y: auto;
  height: calc(100% - 50px);
}

.aside_main_playlist li {
  padding: 8px 0;
}

.aside_main_playlist i {
  font-size: 50px;
  vertical-align: middle;
}

/* aside bottom */
.aside_bar_bottom {
  margin-top: auto;
}

.aside_bottom_profile {
  height: 25px;
  width: 28px;
  background-color: #616161;
  vertical-align: middle;
}

/* MAIN */
/* main top bar */
#main_top_bar {
  position: fixed;
  top:0;
  right:0;
  z-index: 1;
  height: 80px;
  width: calc(100% - 250px);
  background-color: rgba(0, 0, 0, 0.7);
}

/* main navbar */
.main_navbar_list li {
  display: inline-block;
  list-style: none;
}



/* FOOTER */

/* RESPONSIVE */

@media screen and (max-width: 552px) {
  /* width calc */
  .aside_bar {
    width: 80px;
  }

  main {
    width: calc(100% - 80px);
  }

  #main_top_bar{
    width: calc(100% - 80px);
  }
  /* /width calc */


  .aside_nav_list_sm .aside_header_logo_sm img {
    width:85%;
  }

  .aside_nav_list_sm li {
    text-align: center;
  }

  .sm_notshow {
    display: none;
  }

  .sm_show {
    display: block;
  }
}
