* {
  box-sizing: border-box;
  padding: 0;
  margin:0;
}

* a {
  color: #616161;
  text-decoration: none;
  font-weight: bold;
}

* a:hover {
  color: #fff;
}

/* HIDDEN */
.hidden {
  display:none;
}

/* BACKGROUNDS */

.bckgn_black {
  background-color: #000;
}

.bckgn_grey {
  background-color: #141922;
}

/* FONTS */
body {
  font-family: 'Montserrat', sans-serif;
  color: #616161;
}

.txt_center {
  text-align: center;
}

/* small title */
.mini_title {
  font-weight:  700;
  text-transform: uppercase;
  color: #616161;
}

/* main songs title */
.main_songs_title {
  color: #fff;
  font-size: 2rem;
}

.main_song_name_title {
  color: #fff;
  font-size: 1.5rem;
}

/* colors */

.fnt_color_white {
  color: #fff;
}

/* IMG */

.aside_icon {
  max-width: 12%;
  vertical-align: middle;
}

/* LAYER */
.layer {
  display: none;
  position: absolute;
  top: 3% ;
  left: 4% ;
  height: 75%;
  width: 92%;
  background-color: rgba(0, 0, 0, 0.5);
}

.layer i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 80px;
}

/* WRAPPERS */
.all_wrapper{
  position: relative;
  height: 100vh;
  background-color: #000;
}

.list_wrapper {
  width: 85%;
  margin: auto;
}

/* SECTIONS HEIGHTS AND FEATURES */
main {
  position: absolute;
  top: 0;
  right: 0;
  height: calc(100% - 100px);
  width: calc(100% - 250px);
  overflow-y: auto;
}

footer {
  height: 100px;
  background-color: #282828;
}

.aside_bar {
  display: flex;
  flex-direction: column;
  height: calc(100% - 100px);
  width: 250px;
}

/* PADDINGS */
.pdn_15 {
  padding:15px;
}

.pdn_25 {
  padding: 25px;
}

.pdn_bottom_30 {
  padding-bottom: 30px;
}

.pdn_top_10 {
  padding-top: 10px;
}

.pdn_top_25 {
  padding-top: 25px;
}

.pdn_top_85 {
  padding-top: 85px;
}

.pdn_right_10 {
  padding-right: 10px;
}

.pdn_right_20 {
  padding-right: 20px;
}

.pdn_left_10 {
  padding-left: 10px;
}

/* MARGINS */
.mrg_5_0 {
  margin: 5px 0;
}

/* BORDERS */
.border_radius_120 {
  border-radius: 120px;
}

/* UTILITIES */

.dsp_inlineblock {
  display: inline-block;
}

/* LISTS */
.lst_style_none {
  list-style: none;
}

/* BOX */

.song_box {
  position: relative;
  width: calc((100% / 6) - 4px);
  display: inline-block;
  text-align: center;
  padding: 10px;
  vertical-align: text-top;
  overflow: hidden;
}

.main_recently_played_boxes a:hover {
  display: block;
  cursor: pointer;
}

/* BUTTON */
.btn {
  border: 1px solid #fff;
  border-radius: 50px;
  padding: 15px 35px;
}

/* ASIDE */
/* aside header */
.aside_header_logo img {
  max-width: 75%;
}

.aside_nav_list li {
  padding: 8px 0;
}


.aside_nav_list li:first-child {
  border-left: 2px solid #7FFF00;
}

/* aside main PLAYLIST */
.aside_bar_main {
  height: 100%;
  overflow: hidden;
}

.aside_main_title {
  height: 50px;
}

.aside_main_playlist {
  overflow-y: auto;
  height: calc(100% - 50px);
}

.aside_main_playlist li {
  padding: 8px 0;
}

.aside_main_playlist i {
  font-size: 50px;
  vertical-align: middle;
}

/* aside bottom */
.aside_bar_bottom {
  margin-top: auto;
}

.aside_bottom_profile {
  height: 25px;
  width: 28px;
  background-color: #616161;
  vertical-align: middle;
}

/* MAIN */
/* main top bar */
#main_top_bar {
  position: fixed;
  top:0;
  right:0;
  z-index: 1;
  height: 80px;
  width: calc(100% - 250px);
  background-color: rgba(0, 0, 0, 0.7);
  text-align: right;
}

#main_top_bar a {
  line-height: 80px;
}

/* main navbar */

.main_navbar_list li {
 width: calc((100% / 6) - 4px);
 display: inline-block;
 padding: 25px;
}

.main_navbar_list li:first-child::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 40%;
  padding-top: 5px;
  border-bottom: 2px solid #7FFF00;
}

/* main songs */

.song_box img {
  max-width: 100%;
}

a .layer:hover {
  display: block;
  cursor: pointer;
}



/* FOOTER */

/* RESPONSIVE */

/* Small width */
@media screen and (max-width: 857px) {
  /* width calc */
  .aside_bar {
    width: 80px;
  }

  main {
    width: calc(100% - 80px);
  }

  #main_top_bar{
    width: calc(100% - 80px);
  }

  .list_wrapper {
    width: 100%;
  }

  .main_navbar_list li {
    width: calc((100% / 4) - 4px);
  }

  .song_box {
    width: calc((100% / 2) - 4px);
  }
  /* /width calc */


  .aside_nav_list_sm .aside_header_logo_sm img {
    width:85%;
  }

  .aside_nav_list_sm li {
    text-align: center;
  }

  .sm_notshow {
    display: none;
  }

  .sm_show {
    display: block;
  }
}

/* small height */
@media screen and (max-height: 385px) {

  .aside_bar {
    overflow: hidden;
  }

  footer {
    z-index: 2;
  }
}

/* small m */
@media screen and (min-width: 858px) and (max-width: 1218px) {
  .main_navbar_list li {
    width: calc((100% / 3) - 4px);
  }

  .song_box {
    width: calc((100% / 2) - 4px);
  }
}

/* medium */
@media screen and (min-width: 1219px) and (max-width: 1630px) {
  .main_navbar_list li {
    width: calc((100% / 5) - 4px);
  }

  .song_box {
    height: 400px;
    width: calc((100% / 4) - 4px);
  }
}
